# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
    base_uri: 'https://staging.tempbuddy.com/public/api/'

services:
    app.job_manager:
        class: AppBundle\Service\JobManager
        arguments: ['%base_uri%']
    app.teacher_manager:
        class: AppBundle\Service\TeacherManager
        arguments: ['@doctrine.orm.entity_manager']
